/* account component */
.account {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;
  font-size: 14px;
 /* display: inline-block;      */
 /* position: relative;     */
 /* z-index: 1;     
 padding: 2em;     
 margin: -2em;  */
}
.accountClickable {
    width: 2%;
    display: flex;
    gap: 0.2rem;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
    font-size: 14px;
    cursor: pointer;
   /* display: inline-block;      */
   /* position: relative;     */
   /* z-index: 1;     
   padding: 2em;     
   margin: -2em;  */
  }
  
  .account > span:last-child {
    cursor: pointer;
  }