/* account component */
.account {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;
  font-size: 14px;
}
.accountClickable {
    min-width: 2%;
    max-width: 15%;
    display: flex;
    gap: 0.2rem;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 30px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .account > span:last-child {
    cursor: pointer;
  }
